 <div class="container-index">
  <div class="container-adress-button">
    <div class="address">
      <h1>Poubelles proches de vous</h1>
      <div class="search-bar">
        <%= form_tag bins_path, method: :get do %>
          <div><%= text_field_tag :address,
              params[:address],
              placeholder: "Entrez votre adresse"%>
          </div>
          <%=  hidden_field_tag :bin_type, params[:bin_type] %>
       <% end %>
      </div>
    </div>

    <div class="button-container">

        <%= link_to bins_path(bin_type: "verre"), class: 'card_link' do %>
          <div class="unique-button-waste-container" id="verre">
            <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_url("picto_teille_glass.png") %>');"></div>
            <div class="card-name-homepage">
              <h5 id="type-verre"> Verre </h5>
            </div>
          </div>
        <% end %>


        <%= link_to bins_path(bin_type: "plastique"), class: 'card_link' do %>
          <div class="unique-button-waste-container" id="plastique">
            <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_url("picto_teille.png") %>');"></div>
            <div class="card-name-homepage">
              <h5 id="type-plastique"> Plastique</h5>
            </div>
          </div>
        <% end %>

        <%= link_to bins_path(bin_type: "carton"), class: 'card_link' do %>
          <div class="unique-button-waste-container" id="carton">
            <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_url("picto_boite.png") %>');"></div>
            <div class="card-name-homepage">
              <h5 id="type-carton"> Carton </h5>
            </div>
          </div>
        <% end %>

        <%= link_to bins_path(bin_type: "menager"), class: 'card_link' do %>
          <div class="unique-button-waste-container" id="menagere">
            <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= image_url("picto_poubelle.png") %>');"></div>
             <div class="card-name-homepage">
              <h5 id="type-menagere"> Menagère </h5>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<% if @bins.present?%>
  <div class="card-maps-container">
    <div class="card-container-index">
      <div class="row">
        <% @bins.each do |bin| %>
          <div class="col-12">
            <%= link_to bin_path(bin) do %>
              <div class="card-product-index">
                <div class="<%= bin.kind %>"></div>
                  <div class="card-product-infos">
                    <div class="poubelle-name-stars">
                       <h2 id = "card-title-index" class="mb-3"> Poubelle <%= bin.name %>  <!--<i class="far fa-star"></i> --> </h2>
                       <!-- <p class="bin-distance">250m</p> -->
                    </div>
                    <div class="address-card">
                       <p class="card-description-index"><%= (bin.address.split(','))[0] %>,</p>
                       <p class="card-description-index"><%= (bin.address.split(','))[1] %></p>
                    </div>
                  </div>
              </div>
          </div>
            <% end %>
        <%end%>
      </div>
    </div>
    <div class="map-bin-container-index">
      <div class="map-container">
        <div id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>



    <% else %>

    <div class="button_notfound">
    <%=  link_to bins_path(bin_type: params[:bin_type]) do %>
        <div class="back-button"> <%= image_tag "retour-arrière.png" %>
        </div>
    </div>
    <% end  %>
    <div class="notfoundcontainer">
      <div class="notfound">
        <h3><strong>Désolé, nous n'avons rien trouvé dans les environs !</strong></h3>
      </div>
    </div>


  <% end %>
  </div>
</div>
</div>
