<!-- <div class="container-adress-button"> -->
    <!-- <div class="address">
      <input class="form-control" type="text" placeholder="Votre adresse...">
    </div> -->
    <!-- <div class="button-container">
      <%#= link_to bins_path(bin_type: "verre"), class: 'card_link' do %>
        <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%#= image_url("glasspicto.png") %>');"></div>
      <%# end %>
      <%#= link_to bins_path(bin_type: "papier"), class: 'card_link' do %>
        <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%#= image_url("glasspicto.png") %>');"></div>
      <%# end %>
      <%#= link_to bins_path(bin_type: "carton"), class: 'card_link' do %>
        <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%#= image_url("glasspicto.png") %>');"></div>
      <%# end %>
      <%#= link_to bins_path(bin_type: "plastique"), class: 'card_link' do %>
        <div class="button-waste" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%#= image_url("glasspicto.png") %>');"></div>
      <%# end %>
    </div> -->
<!-- </div> -->
<div class="container-index">
  <div class="card-container">
    <div class="address">
      <input class="form-control" type="text" placeholder="Votre adresse...">
    </div>
    <h1>Poubelles proches de vous</h1>
    <div class="row">
      <% @bins.each do |bin| %>
        <div class="col-12">
          <div class="card-product-index">
            <div class="<%= bin.kind %>"></div>
              <div class="card-product-infos">
               <h2 id = "card-title-index"> poubelle <%= bin.name %> </h2>
               <p class="card-description-index"> <%= bin.address %></p>
              </div>
          </div>
        </div>
     <% end %>
   </div>
   </div>
   <div class="map-bin-container">
      <div class="map-container">
        <div id="map"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
</div>


 </div>
