 <div class="container-index">
  <div class="container-adress-cards">
     <div class="map-boutons">
        <div class="title-bin-index">
        <h1 class="around-bin-text">POUBELLES AUTOUR DE VOUS</h1>
        </div>
          <div class="button-container-index">






            <%= link_to bins_path(bin_type: "verre") do %>
              <div class="btn verre non-active <%= params[:bin_type] == "verre" ? "active filter" : nil%>">Verre</div>
            <% end %>

            <%= link_to bins_path(bin_type: "plastique"), class: 'card_link' do %>
              <div class="btn plastique non-active <%= params[:bin_type] == "plastique" ? "active filter" : nil%>">Plastique</div>
            <% end %>

            <%= link_to bins_path(bin_type: "carton"), class: 'card_link' do %>
              <div class="btn carton non-active <%= params[:bin_type] == "carton" ? "active filter" : nil%>">Carton</div>
            <% end %>

            <%= link_to bins_path(bin_type: "menager"), class: 'card_link' do %>
              <div class="btn menager non-active <%= params[:bin_type] == "menager" ? "active filter" : nil%>">Ménager</div>
            <% end %>
          </div>
        </div>

          <div class="container-address-button">
            <div class="address">
              <div class="search-bar">
                <%= form_tag bins_path, method: :get do %>
                  <%= text_field_tag :address,
                      params[:address],
                      placeholder: "Saisissez votre adresse"%>
                  <%=  hidden_field_tag :bin_type, params[:bin_type] %>
               <% end %>
              </div>
            </div>
          </div>





    <% if @bins.present?%>
      <div class="card-maps-container">
        <div class="card-container-index">
          <div class="row">
            <% @bins.each do |bin| %>
             <!--  <div class="col-12"> -->
                <%= link_to bin_path(bin) do %>
                 <div class="card-trip">
                    <div class="poubelle-image"><%= cl_image_tag(bin.photo, gravity: :north, crop: :fill, class: "poubelle-image-cl") %></div>
                    <div class="card-trip-infos">
                      <div>
                        <h2> Poubelle <%= bin.name %></h2>
                        <p><%= (bin.address.split(','))[0] %>,</p>
                        <p><%= (bin.address.split(','))[1] %>,</p>
                      </div>

                      <h3 class="card-trip-pricing">+ d'infos</h3>
                      <img src='https://kitt.lewagon.com/placeholder/users/krokrob' class="card-trip-user avatar-bordered"/>
                    </div>
                  </div>
               <% end %>
            <%end%>
          </div>
        </div>
      </div>
    <% else %>
    <div>
      <div class="button_notfound">
        <%=  link_to bins_path(bin_type: params[:bin_type]) do %>
          <%= image_tag "retour-arrière.png" %>
          <% end  %>
      </div>


      <div class="notfoundcontainer">
        <div class="notfound">
          <h3><strong>Désolé, nous n'avons rien trouvé dans les environs !</strong></h3>
        </div>
      </div>
    </div>

    <% end %>
  </div>

    <div class="map-bin-container-index">
      <div class="map-container">
        <div id="map"
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>



