<div class="container-index">


  <div class="card-maps-container">
    <div class="card-container-show">
      <div class="button_show">
        <%=  link_to bins_path(bin_type: @bin.kind) do %>
          <div class="back-button"> <%= image_tag "retour-arrière.png" %>
          </div>
        <% end  %>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card-product-index">
            <div class="<%= @bin.kind %>"></div>
              <div class="card-product-infos">
                <div class="poubelle-name-stars">
                  <h2 id = "card-title-index"> Poubelle <%= @bin.name %>
                </div>
                <div class="address-card">
                  <p class="card-description-index"><%= (@bin.address.split(','))[0] %>,</p>
                  <p class="card-description-index"><%= (@bin.address.split(','))[1] %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="card-product-index">
                <div class="card-product-infos">
                  <div class="address-card">
                    <p class="card-description-index"><%= @bin.reviews %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="map-bin-container-index">
          <div class="map-container">
            <div id="map"
            data-markers="[<%= @marker.to_json %>]"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

