
<div class="container-show">
  <!-- button_show -->

    <h1 class="bin_name"> <span class="highlighted highlighted-yellow">Poubelle <%= @bin.name %></span></h1>
</div>


<div class="profilreviewsmap">
  <div class="profilreview">

    <div class="profil">
      <div class=" binphoto">
        <%= cl_image_tag @bin.photo %>
      </div>
      <div class="binprofilinfos">
        <h2><%= @bin.name %></h2>
        <p><%= @bin.address %></p>
        <p> Déchets : <%= @bin.kind %></p>
      </div>
    </div>

    <div class="reviews">
      <h1 id="avis">Avis</h1>

         <%= simple_form_for [@bin, @review] do |f| %> <!-- simple form -->
               <%= f.input :name, label: 'Votre nom' %>
                <%= f.input :description, label: 'Votre commentaire' %>
              <div class="submit_button">
                <%= f.submit "Envoyer" %>
                <div class="add_review" >
                  </div>
              </div>
          <% end %>
    </div>
     <div class="avis_show">
                  <% if @bin.reviews.any? %>
                    <% @reviews.each do |review|  %>
                    <div class="hover_review">
                      <div class="avis_name">
                        <div> <strong><%= review.name %></strong></div>
                      </div>
                      <div class="descriptif_avis">
                        <div><%= review.description  %></div>
                        <div><%= review.created_at.strftime('%d-%m-%Y') %></div>
                      </div>
                    </div>
                    <% end  %>
                  <% end  %>
                </div>
  </div>


  <div class="map-show-container">
    <div class="map-container-show">
      <div id="map"
      data-markers="[<%= @marker.to_json %>]"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>



