<div class="container-show">
  <div class="card-container">
      <h1>Poubelles proches de vous</h1>
      <div class="row">
        <div class="col-12">
          <div class="card-product-show">
            <div class="<%= @bin.kind %>">
            </div>
            <div class="card-product-infos">
              <h2 id = "card-title"> <%= @bin.name %> </h2>
              <p class="card-description"> <%= @bin.address %></p>
            </div>
          </div>
          <div class="reviews_show">
            <h2>Reviews</h2>
          </div>
        </div>
      </div>
  </div>
  <div class="map-bin-container">
    <div class="button_show">
      <%=  link_to bins_path(bin_type: "verre") do %>
      <div class="btn btn-primary" style="height: 55px; width: 130px;" href="#" role="button">ajouter verre
      </div>
      <% end  %>
      <%=  link_to bins_path(bin_type: "plastique") do %>
      <div class="btn btn-primary" style="height: 55px; width: 130px;" href="#" role="button">ajouter plastique
      </div>
      <% end  %>
      <%=  link_to bins_path(bin_type: "papier") do %>
      <div class="btn btn-primary" style="height: 55px; width: 130px;" href="#" role="button">papier
      </div>
      <% end  %>
      <%=  link_to bins_path(bin_type: "menager") do %>
      <div class="btn btn-primary" style="height: 55px; width: 130px;" href="#" role="button">menager
      </div>
       <% end  %>
    </div>
      <div class="map-container">
        <div id="map"
          data-markers="[<%= @marker.to_json %>]"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
  </div>
</div>


