<div class="profile-page" >
  <div class="userinformation">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <div class="card-profile profile-infos">
        <p> <%= current_user.avatar %></p>
        <h1> <%= current_user.full_name %> </h1>
        <p> <%= current_user.address %> </p>
        <p> <%= current_user.email %></p>
        <p> Nombre de recherches effectuées </p>
        <p> Membre depuis 2019. </p>
      </div>


      <div class="profile-reviews profile-infos">
        <h2> Vos derniers commentaires : </h2>
        <p> <%= current_user.reviews %> </p>
      </div>

      <div class="profile-bins profile-infos">
        <h2> Vos dernières visites </h2>
        <p> user.bins t'entend</p>
      </div>

  </div>
</div>


