<div class="container-show">
  <!-- button_show -->
  <h1 class="bin_name"><span class="highlighted highlighted-yellow">PROFIL</span></h1>

  <div class="profilreviewsmap ">
    <div class="profil-review-show row">
      <div class="col-xl-3 col-md-5 col-lg-4 col-sm-6">
        <!-- <div class="profil-show">
        <h1 id="avis">Mes infos</h1>
        </div> -->
        <div class="photo-infos">
          <div class=" binphoto-show">
            <%= cl_image_tag current_user.avatar, gravity: :north, crop: :fill%>
          </div>
          <div class="binprofilinfos-show">
            <h2 #id="profil-name"> <strong><%= current_user.full_name %> </strong> </h2>
            <p class="menu-profil-show"><span class="highlighted highlighted-yellow">VILLE</span></p>
            <p id="city"><%= current_user.city %></p>
            <p class="menu-profil-show"><span class="highlighted highlighted-yellow">PSEUDO</span></p>
            <p id="city"><%= current_user.user_name %></p>
             <p class="menu-profil-show"><span class="highlighted highlighted-yellow">EMAIL</span></p>
            <p id="city"><%= current_user.email %></p>
            <p class="menu-profil-show"><span class="highlighted highlighted-yellow">CRÉÉ</span></p>
            <p id="created"><%= current_user.created_at.strftime('%d-%m-%Y') %></p>
          </div>
        </div>
      </div>

      <div class="bin-display-show col-xl-9 col-md-5 col-lg-8 col-sm-6">
        <!-- <div id="mespoubeles"> -->
          <!-- <h1 id="avis">Mes poubelles - pe current_user.bins.length pe </h1> -->
        <!-- </div> -->
        <div class="claimed-bin">
          <div class="card-maps-container-show">
            <div class="card-container-show">
              <div class="row">
                <% current_user.bins.each do |bin| %>
                 <!--  <div class="col-12"> -->
                    <%= link_to bin_path(bin) do %>
                     <div class="card-trip">
                        <div class="poubelle-image"><%= cl_image_tag(bin.photo, gravity: :north, crop: :fill, class: "poubelle-image-cl") %></div>
                        <div class="card-trip-infos">
                          <div>
                            <div class="profil-card-address">
                              <h2> Poubelle <%= bin.name %></h2>
                            </div>
                            <div class="profil-card-address">
                              <p><%= (bin.address.split(','))[0] %>,</p>
                              <p><%= (bin.address.split(','))[1] %>.</p>
                            </div>
                          </div>
                          <div class="card-trip-pricing-container">
                            <div class="card-trip-pricing"><%= bin.reviews.length %><i class="far fa-comment comment"></i></div>
                            <h3 class="card-trip-pricing">+ d'infos</h3>
                          </div>
                           <%= cl_image_tag bin.user.avatar, width: 200, heigth: 200,  :gravity=>"faces", :crop=>"fill", class:"card-trip-user avatar-bordered" %>
                        </div>
                      </div>
                   <% end %>
                <%end%>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>


