<div class="form-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(/assets/grass.jpg);">
  <div class="formulaire">

    <div class="signuplogo">
      <%= image_tag "binhere_logo_blue.png", class:"logotop" %>
      <h2>S'inscrire</h2>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
         <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name" }%>
         <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name" }%>

        <%= f.input :user_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "user_name" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>

      <div class="form-actions">
        <%= f.button :submit, "Sign up" %>
      </div>
      </div>

    <% end %>

  </div>
</div>
