<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">

<div class="logo_and_title">
  <div  class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logoBINHERE.png" %>
    <% end %>
  </div>
  <div class="title_navbar">
    <h3 style="color: #EEB111; font-family: poppins"><strong>BIN</strong><span style="color: black;">here?</span></h3>
  </div>
</div>





  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <%= link_to "Infos tri", infos_path, class: "nav-link" %>
        </li>
      <% if user_signed_in? %>

        <li class="nav-item">
        <%= link_to "Mon profil", profile_path , class: "nav-link" %>
        </li>

        <li class="nav-item dropdownnavbar">
          <%= cl_image_tag current_user.avatar, gravity: :north, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>

            <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
